@charset "utf-8";


/* 2016-09 : SMS 및 이메일 스팸관련 정보통신망법에 따른 추가작업 */
.new_deny_tab {overflow:hidden; margin:20px; margin-top:10px;}
.new_deny_tab .tab_box {display:table; width:100%; table-layout:fixed; box-sizing:border-box; background:#fff; }
.new_deny_tab .tab_box ul {display:table-row;}
.new_deny_tab .tab_box li {display:table-cell; border:1px solid #ccc; border-bottom:2px solid #4d525a;}
.new_deny_tab .tab_box .tab {font-size:13px; text-align:center; display:block; line-height:25px; padding:10px; box-sizing:border-box; color:#000;}
.new_deny_tab .tab_box li:hover {background:#eee;}
.new_deny_tab .tab_box .hit {background:#4d525a !important; font-weight:600; border:1px solid #4d525a;}
.new_deny_tab .tab_box .hit .tab {color:#fff;}

.new_deny_guide {background:#2793a0; color:#fff; margin:20px; margin-bottom:0px; font-size:14px; padding:15px 20px; letter-spacing:-0.5px;}
.new_deny_guide strong {text-decoration:underline; font-weight:400;}
