@charset 'utf-8';

/*
 * Copyright    :    ONEDAYNET.CO.KR
 * SOLUTION     :    HYSSENCE 3.0
 * Directory    :    pages/css/
 * File         :    c_item.css
 * SUMMARY      :    (공통) 상품목록이 들어가는 페이지들
 */





/* ********************************************** *
 * 공통 상품목록
 * ********************************************** */
.c_item_list {margin-top:15px; overflow:hidden;}
.c_item_list .item_list {padding:15px 0;}

.c_other_item {font-size:19px; color:#333; letter-spacing:-1px; text-align:center; border-bottom:1px solid #666; position:relative; line-height:35px; height:35px;}
.c_other_item .more {position:absolute; right:10px; bottom:8px; font-size:11px; color:#999; padding:0 10px; border:1px solid #ddd; border-radius:100px; height:23px; line-height:24px; box-sizing:border-box;}








/* ********************************************** *
 * 기획전
 * ********************************************** */
.c_promotion {overflow:hidden; padding:0px;}
.c_promotion li {list-style:none;}
.c_promotion .banner {text-align:center; }
.c_promotion .banner img {max-width:100%;}

 /* 기획전 목록 */
.c_promotion .promotion_list {}
.c_promotion .promotion_list ul {overflow:hidden;}
.c_promotion .promotion_list li {list-style:none; padding:15px; border-bottom:1px solid #ddd; box-sizing:border-box;}
.c_promotion .promotion_box {position:relative;}
.c_promotion .promotion_box .thumb {background:#fafafa url('../images/c_img/none_photo.png') center center no-repeat; background-size:30px; position:relative; overflow:hidden; box-sizing:border-box;}
.c_promotion .promotion_box .thumb img {width:100%; float:left;}
.c_promotion .promotion_box .thumb .real {position:absolute; left:0; top:0; width:100%; height:100%; z-index:1}
.c_promotion .promotion_box .thumb .fake {overflow:hidden;}
.c_promotion .promotion_box .promo_bg {position:absolute; left:0; top:0; bottom:0; right:0; border:1px solid #ccc; opacity:.5; -ms-filter:alpha(opacity=50);filter:alpha(opacity=50); z-index:2; }
.c_promotion .promotion_box .promo_txt {font-size:21px; color:#fff; letter-spacing:-1px; text-align:center; letter-spacing:-1px; z-index:11; font-weight:100;}
.c_promotion .promotion_box .promo_txt {position:absolute; left:0; top:50%; margin-top:-14px; width:100%; display:none;}
.c_promotion .promotion_box .tit_info {overflow:hidden; position:relative; padding:8px 0; border-bottom:1px solid #eee;}
.c_promotion .promotion_box .tit_info .tit {font-size:15px; letter-spacing:-0.5px; color:#333; padding-right:110px;}
.c_promotion .promotion_box .tit_info .tit {overflow:hidden; text-overflow:ellipsis; white-space: nowrap; word-wrap: normal !important; display:block;}
.c_promotion .promotion_box .tit_info .total {position:absolute; right:0; top:50%; color:#999; font-size:13px; letter-spacing:-0.5px; margin-top:-8px}
.c_promotion .date_info {overflow:hidden; margin-top:5px;}
.c_promotion .date_info .d_day {height:22px; line-height:22px; color:#db5200; font-size:12px; min-width:60px; text-align:center; border-radius:100px; float:left; text-align:center; margin-top:2px;}
.c_promotion .date_info .d_day {border:1px solid #db5200; box-sizing:border-box; padding:0 10px;}
.c_promotion .date_info .d_day.if_day {background:#db5200; color:#fff;}
.c_promotion .date_info .d_day.if_close {background:#ddd; border:1px solid #ddd; color:#999;}
.c_promotion .date_info .date {float:right; font-size:13px; line-height:27px; color:#333;}

.c_promotion .if_end_promo .promotion_box .promo_bg {background:#000; border:0; z-index:10;}
.c_promotion .if_end_promo .promotion_box .promo_txt {display:block;}
.c_promotion .if_end_promo .upper_link {display:none;}

@media screen and (min-width:600px) {
	.c_promotion .promotion_list ul {border-bottom:1px solid #ddd;}
	.c_promotion .promotion_list li	{float:left; width:50%; border-bottom:0;}
	.c_promotion .promotion_list li:nth-of-type(odd) {border-right:1px solid #ddd;}
}

/* 기획전 상세 */
.c_promotion .pro_view_top {position:relative; text-align:center;}
.c_promotion .pro_view_top .title {text-align:center; position:relative; padding:15px 15px 10px; border-bottom:1px solid #ddd;}
.c_promotion .pro_view_top .title strong {font-size:16px; color:#000; letter-spacing:-1px; font-weight:300; line-height:1.2;}
.c_promotion .pro_view_top .date_info {position:absolute; left:0; bottom:0;}
.c_promotion .pro_view_top .date_info .date {float:left; margin-left:7px}
.c_promotion .pro_view_top .c_btn {position:absolute; right:0; bottom:10px;}
.c_promotion .c_btnbox {padding-top:15px; border-top:1px solid #eee; margin: 15px 10px 0 10px;}
.c_promotion .c_btnbox ul {border-spacing: 0;}







/* ********************************************** *
 * 베스트,뉴,세일
 * ********************************************** */
.c_best {overflow:hidden; padding:0px;}
.c_best li {list-style:none;}
.c_best .title {text-align:center; position:relative; padding-bottom:15px; border-bottom:1px solid #ddd;}
.c_best .title strong {font-size:23px; color:#000; letter-spacing:-1.5px; }






/* ********************************************** *
 * 브랜드
 * ********************************************** */
.c_brand {overflow:hidden; padding:0px; }
.c_brand li {list-style:none;}
.c_brand .brand_wrap {overflow:hidden;}
.c_brand .item_list {padding-top:10px !important}

/* 브랜드 단어별 분류 */
.c_brand .word {background:#f5f5f5; overflow:hidden; position:relative; background-color: #fff; padding: 10px;}
.c_brand .word ul {overflow:hidden;}
.c_brand .word li {overflow:hidden; margin:10px; position:relative; text-align: center;}
.c_brand .word .btn {background:#fff; border:1px solid #ddd; width:33px; height:33px; line-height:33px; text-align:center; color:#666; font-size:14px; box-sizing:border-box; margin:6px;}


.c_brand .word .btn.all {font-size:12px; letter-spacing:-1px; width:96px; margin: 0 auto 10px;  display: block;}
.c_brand .word .en {display: none;}
.c_brand .word .en.on{display: block;}
.c_brand .word .kor {display: none;}
.c_brand .word .kor.on{display: block;}
.c_brand .word .en .btn {line-height:30px;}
.c_brand .word .all .btn {font-weight:400; letter-spacing:-0.5px; width:30px; font-size:12px;}
.c_brand .word .btn.hit {border:1px solid #333; color:#fff; position:relative; background:#333 !important; font-weight:600;}
.c_brand .word .btn.none {color:#ddd; cursor:default; background:#f5f5f5;}
.c_brand .word .btn:last-child {font-size:11px;}
.c_brand .word .en .btn:last-child {font-size:14px; width: 78px;}

.word_lang_wrap .lang_tab li{
	float: left;
	width: 50%;
	background-color: #f0f0f0;
	color: #333;
	border: 1px solid #e2e2e2;
	margin: 0;
	box-sizing: border-box;
	text-align: center;
	padding: 10px;
	font-size: 16px;
}
.word_lang_wrap .lang_tab li.on{
	background-color: #fff;
	color: #9d4656;
	border-bottom: none;
	font-weight: bold;
}
.word_lang_wrap .lang_tab li:last-child{border-left: none;}
.word_lang_wrap .word_btn_area{
	background-color: #fff;
	border: 1px solid #e2e2e2;
	border-top: none;
}
.word_lang_wrap .word_wrap{
	min-width: 309px;
	max-width: 345px;
	margin: 0 auto;
	text-align: center;
}

/* 브랜드목록 */
.c_brand .menu_box {overflow-y:auto; padding:15px 0 0; box-sizing:border-box; border-bottom: 1px solid #ccc;}
.c_brand .menu_box .menu {box-sizing:border-box; overflow:hidden;}
.c_brand .menu_box li {list-style:none; overflow:hidden; width:33.3333%; float:left; box-sizing:border-box; box-sizing:border-box;}
.c_brand .menu_box .spell {width:100%; /*!important*/}
.c_brand .menu_box .keyword {color:#333; font-weight:600; font-size:17px; padding:3px 10px 0; display:block; overflow:hidden; background:#eee; height:25px; box-sizing:border-box;}
.c_brand .menu_box .btn {display:block; padding:6px 10px 7px; color:#888; letter-spacing:-0.5px; font-size:12px;}
.c_brand .menu_box .btn {overflow:hidden; text-overflow:ellipsis; -webkit-line-clamp: 1; -webkit-box-orient: vertical; display: -webkit-box;}
.c_brand .ctrl {text-align:center;}
.c_brand .ctrl .btn {border:1px solid #ccc; height:24px; width:60px; border-radius:0 0 5px 5px; border-top:0; box-sizing:border-box; display:inline-block !important;}
.c_brand .ctrl .btn {background:#fafafa url('../images/c_img/ctrl_fold.png') center center no-repeat; background-size:12px !important;}

.c_brand .brand_wrap.if_unfold .menu_box {max-height:120px; }
.c_brand .brand_wrap.if_unfold .ctrl .btn {background:#fafafa url('../images/c_img/ctrl_unfold.png') center center no-repeat;}

.c_brand .brand_name {color:#000; font-size:18px; color:#000; font-weight:600; text-align:center; display:block; margin-top:20px; }
.c_brand .brand_name strong {display:inline-block; border-bottom:1px solid #333; padding-bottom:10px;}




/* ********************************************** *
 * 통합검색
 * ********************************************** */
.c_search {overflow:hidden; padding:0px; }
.c_comb_search {overflow:hidden; margin-top:20px;}
.c_comb_search .result {text-align:center; padding-bottom:15px; border-bottom:1px solid #666;}
.c_comb_search .result ul {display:inline-block}
.c_comb_search .result li {list-style:none; float:left; font-size:21px; color:#000; letter-spacing:-0.5px; padding:0 15px; position:relative;}
.c_comb_search .result li+ li {padding-left:12px;}
.c_comb_search .result li+ li:before {content:""; position:absolute; left:-1.5px; top:50%; width:1px; height:18px; background:#ccc; margin-top:-10px}

/* 폼 */
.c_comb_search .form_box {background:#fafafa; border-bottom:1px solid #ddd; padding:20px 30px; text-align:center;}
.c_comb_search .form_box .search_form {overflow:hidden; position:relative; padding-right:89px; /*padding-top:30px; */}
.c_comb_search .form_box .check {position:absolute; left:0; top:0;}
.c_comb_search .form_box .input_design {background:#fff; border:1px solid #ccc; box-sizing:border-box; height:40px; padding:0 10px; width:100%; font-size:15px; letter-spacing:-0.5px;}
.c_comb_search .form_box .input_design:focus {border-color:#333;}
.c_comb_search .form_box .btn_search {text-align:center; min-width:90px; height:40px; background:#333; box-sizing:border-box; position:absolute; right:0; bottom:0; padding:0 10px;}
.c_comb_search .form_box .btn_txt {padding-left:19px; color:#fff; font-size:14px; letter-spacing:-1px; position:relative; white-space:nowrap;}
.c_comb_search .form_box .btn_txt:before {content:""; position:absolute; left:0; top:1px; width:13px; height:100%; background:transparent url('../images/c_img/search_ic.png') left 1px no-repeat; background-size:12px;}

.c_comb_search .search_btn_reset {overflow:hidden; margin-top:15px; padding:0 5px; text-align:center;}
.c_comb_search .search_btn_reset .btn_reset {color:#e60000; letter-spacing:-1px; background:#fff; border-bottom:1px solid #e60000; padding:0 5px; padding-bottom:2px;}
.c_comb_search .search_btn_reset .btn_reset .tx {background:transparent url('../images/c_img/search_reset.png') left 3px no-repeat; background-size:8px; padding-left:12px; font-size:13px;}

/* 없을때 */
.c_comb_search .none {text-align:center; margin:50px 20px; overflow:hidden;}
.c_comb_search .none .gtxt {background:transparent url('../images/c_img/no_search.png') center top no-repeat; background-size:35px; padding-top:60px; font-size:17px; color:#666; letter-spacing:-1px;}
.c_comb_search .none .sub_txt {line-height:1.4; color:#999; letter-spacing:-0.5px; margin-top:15px; font-size:13px; word-wrap:break-word; word-break:keep-all; white-space:normal;}

/* 조건박스 */
.c_comb_search .condition {padding:0 15px; overflow:hidden;}
.c_comb_search .condition li {list-style:none;}
.c_comb_search .condition .select+ .select {margin-top:5px;}
/* .c_comb_search .condition .select select {height:30px;}
.c_comb_search .condition .select:before {height:28px;} */

.c_comb_search .condition .ul {display:table; width:100%; table-layout:fixed; box-sizing:border-box; display:none;}
.c_comb_search .condition .li {display:table-cell; vertical-align:middle; padding:12px 5px; border-bottom:1px solid #ddd; box-sizing:border-box;}
.c_comb_search .condition .li:first-of-type {width:70px;}

.c_comb_search .condition .tit {float:left; color:#666; font-size:13px; font-weight:600; letter-spacing:-1px; }
.c_comb_search .condition .list {overflow:hidden;}
.c_comb_search .condition .list ul {margin-top:-5px;}
.c_comb_search .condition .list li {float:left; width:50%; margin-top:5px; height:23px;}
.c_comb_search .condition .opt .txt {overflow:hidden; text-overflow:ellipsis; -webkit-line-clamp: 1; -webkit-box-orient: vertical; display: -webkit-box; font-size:12px;}

.c_comb_search .ctrl {text-align:center; clear:both;}
.c_comb_search .ctrl .ctrl_btn {background:#fafafa; border:1px solid #ccc; height:30px; width:120px; border-radius:0 0 5px 5px; border-top:0; box-sizing:border-box; display:inline-block; color:#999;}
.c_comb_search .ctrl .ctrl_btn .tx {background:transparent url('../images/c_img/ctrl_unfold.png') left center no-repeat; background-size:10px !important; font-size:12px; letter-spacing:-1px; line-height:31px; padding-left:16px;}

.c_comb_search .condition.if_unfold {margin-top:10px;}
.c_comb_search .condition.if_unfold .ctrl_btn .tx {background:transparent url('../images/c_img/ctrl_fold.png') left 11px no-repeat;;}
.c_comb_search .condition.if_unfold .ul {display:table; }

.c_search .c_item_list {padding:0 10px;}