
/*
	[디자인팀 맞춤제작 및 수정 CSS]

	copyright(c) 상상너머·원데이넷 all rights reserved.
	허용된 라이센스이외 무단도용재배포를 금합니다.

	※ css 추가 시, 반드시 날짜와 작업자 이니셜을 기재바랍니다.
*/



/* 2020-07-01 마이페이지 등급조건 노출 오류 */
.c_mypage_main .mypage_info {overflow:visible}
.c_mypage_main .my_info .info {margin-top:45px;}
.c_mypage_main .my_info .level_img {top:-30px}



/* 주문/결제 :: KHY 2021-06-10 */
.c_form .pay_select {display: block; overflow: hidden; margin: 0 -5px; width: auto;}
.c_form .pay_select li {display: inline-block; float: left; width: 33.3%; padding: 0 5px; box-sizing: border-box;}
.c_form .pay_select li:nth-of-type(3n)+ li {clear: both;}
.c_form .pay_select li:nth-of-type(3)~ li {margin-top: 10px;}
.c_form .pay_select label {height: 70px;}
.c_form .pay_select .lineup {padding: 40px 5px 10px; height: 70px; background-position: center 13px !important; border-color: #e5e5e5;}
.c_form .use_kakaopay .lineup {background: transparent url('../images/c_img/ic_pay_kakao.png') center 16px no-repeat !important; background-size: 43px auto !important;}
.c_form .use_kakaopay .pay_input:checked+ .lineup {background-image: url('../images/c_img/ic_pay_kakao_on.png') !important;}
.c_form .use_naverpay .lineup {background: transparent url('../images/c_img/ic_pay_naver.png') center 16px no-repeat !important; background-size: 14px auto !important;}
.c_form .use_naverpay .pay_input:checked+ .lineup {background-image: url('../images/c_img/ic_pay_naver_on.png') !important;}

/* // JJC : 간편결제 - 페이플 : 2021-06-05 */
.c_form .use_payple .lineup {background:transparent url('../images/c_img/ic_pay_payple.png') center 16px no-repeat; background-size:15px !important;}
.c_form .use_payple .pay_input:checked+ .lineup {background:transparent url('../images/c_img/ic_pay_payple_on.png') center 16px no-repeat;}