/*** Table CSS #01 (Form) ***/
table.tb1 {
	width: 100%; margin: 0; padding: 0;
	border-top: 2px solid #e5e5e5;
	border-bottom: 1px solid #d9d9d9;
	border-collapse: collapse;
}
table.tb1 th{
	width: 120px; padding: 8px 0 4px 20px;
	border-right: 1px solid #ebebeb;
	border-bottom: 1px solid #ebebeb;
	font: bold 8pt 돋움; letter-spacing: -1px; text-align: left;
	color: #444444;
}
table.tb1 td{
	padding: 6px 2px 6px 15px;
	border-bottom: 1px solid #ebebeb;
}

/*** Table CSS #02 (List) ***/
table.tb2 {
	width: 100%; margin: 0; padding: 0;
	border-top: 2px solid #e5e5e5;
	border-bottom: 1px solid #d9d9d9;
	border-collapse: collapse;
}
table.tb2 th{
	padding: 7px 0 3px 0; text-align:center;
	border-bottom: 1px solid #e0e0e0;
	border-right: 1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;
	color: #333333; background: #f0f0f0;
	font: 8pt 돋움; letter-spacing: -1px;
	border-collapse: collapse;
}
table.tb2 td{
	padding: 6px 5px;
	border-bottom: 1px solid #e0e0e0;
	border-right: 1px solid #efefef;
	border-left: 1px solid #e0e0e0;
}
table.tb2 .c1 {padding-left:10px}
table.tb2 .p0 {padding:0;}
table.tb2 .b0 {border-right:0;}